<div class = "banner">
  <h1>The Games I've played</h1>
  <div class = "new_article">
      <%= link_to "Add new Game", articles_new_path %>
  </div>
</div>

<div class="container">
  <div class = "header">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
    <div>
      <%@articles.each do |article| %>
      <tr class = "label_box">
        <td class = "id_container"><%= article.id %></td>
        <td class = "name_container"><%= article.name %></td>
        <!--<td class = "body_container"><%= article.body %></td>-->
        <div class = "buttons">
        <td class = "button"><%= link_to "Edit", article_edit_path(article.id) %></td>
        <td class = "button"><%= link_to "Delete", article_delete_path(article.id), method: :delete %></td>
        <td class = "button"><%= link_to "Show", article_show_path(article)%></td>
      </div>
      </tr>
      
      <%end%>
    </tbody>
  </table>
  </div>
<div>